* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --bg-nav: rgb(38, 190, 157);
}

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: var(--bg-nav);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.nav .logo {
    width: 65px;
    height: 65px;
    margin: 2.5px;
    border: 2px solid white;
    border-radius: 50%;
}

.nav .logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.nav ul {
    line-height: 70px;
}

.nav ul li {
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
    list-style-type: none;
    animation: anime_nav_ul 2s forwards;
    animation-delay: calc(.3s * var(--i));
    opacity: 0;
    transform: translateY(100px);
}

@keyframes anime_nav_ul {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav ul li a {
    color: white;
    padding: 2px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
}

.nav ul li a:hover {
    position: relative;
    }
.nav ul li a::before {
    background-color: rgba(248, 248, 248, 0.935);
    position: absolute;
    content: '';
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.nav ul li a::after {
    background-color: rgba(255, 255, 255, 0.935);
    position: absolute;
    content: '';
    width: 0%;
    height: 4px;
    bottom: 0;
    right: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.nav ul li a:hover::before {
    width: 50%;
    transition: .3s;
}
.nav ul li a:hover::after {
    width: 50%;
    transition: .3s;
}

.nav ul li .active {
    background-color: rgba(205, 231, 37, 0.935);
    padding: 10px;
}

#menu {
    position: absolute;
    font-size: 30px;
    color: white;
    padding: 10px;
    top: 10px;
    right: 10px;
    display: none;
}

#search {
    margin: 20px;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    visibility: hidden;
    border: none;
}

#search_n {
    position: fixed;
    z-index: 11111;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    border: none;
}

footer {
    width: 100%;
    height: auto;
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: var(--bg-nav);
    display: flex;
    color: white;
    padding: 0 20%;
}

footer section {
    margin-top: 2vh;
    flex: 1;
    padding: 15px;
    font-size: 16px;
}

footer div {
    padding-top: 5vh;
}

footer section h2 {
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 2px;
    font-size: 25px;
    text-align: center;

}

 .about a{
    text-decoration: none;
    padding: 5px;
    font-size: 19px;
    background-color: rgba(46, 46, 51, 0.513);;
    color: white;
    line-height: 40px;
    margin: 5px;
    border-radius: 6px;
}
.about a:hover{
    background-color: rgba(255, 255, 255, 0.513);;
    color: black;
}
.about .img {
    text-align: center;
}
.about img {
    width: 30%;
    height: 15vh;
}

footer .contact p {
    margin-top: 2vh;
    margin-left: 20%;
    text-align: left;
    padding: 5px;
    display: block;
}

footer .contact p a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(72, 72, 80, 0.513);
}

footer .contact p a:hover {
    background-color: #fefeff;
    color: black;
}

.copyright {
    text-align: center;
    width: 100%;
    background-color: var(--bg-nav);
}

.copyright p {
    text-align: center;
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
}

.scrolltop {
    position: fixed;
    right: 40px;
    bottom: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 99;
    background-color: var(--bg-nav);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    transition: .4s;
}

.scrolltop_active {
    bottom: 40px;
    visibility: visible;
}





@media Screen and (max-width:850px) {

    .logo {
        display: none;
    }

    .nav ul {
        position: absolute;
        top: 70px;
        width: 70%;
        height: 100vh;
        left: -100%;
        background-color: #a6a3a3;
        transition: .1s ease-in;
    }

    #menu_chk:checked~ul {
        left: 0;
    }

    /* in build */
    #menu_chk:checked~.active {
        position: absolute;
        content: "\f00d";
        /* color: #1702fd; */
    }

    .nav ul li {
        display: block;
        text-align: center;
    }

    #menu {
        position: relative;
        font-size: 30px;
        color: white;
        padding: 10px;
        top: 10px;
        left: 10px;
        display: block;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    footer section {
        width: 100%;
    }

    footer section h1 {
        border-bottom: 2px solid #000;
    }

    footer section img {
        width: 30%;
        height: 20vh;
    }
    .about span{
       
        display:inline-block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .about a{
        text-decoration: none;
        padding: 5px;
        font-size: 23px;
        background-color: var(--bg-nav);
        color: white;
        line-height: 40px;
        margin: 6px;
        border-radius: 6px;

    }
    .about a:hover{
        background-color: var(--bg-nav);
        color: black;
    }
    

}